{% extends "inicio.html" %}
{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda de base de datos</title>
</head>
<body>
        <div>
            {% if pacientes %}
            <ul>
                {% for paciente in pacientes %}
                <li>Nombre: {{paciente.nombre}}</li>
                <li>Apellido: {{paciente.apellido}}</li>
                <li>Edad: {{paciente.edad}}</li>
                <li>Fecha de nacimiento: {{paciente.fechadenacimiento}}</li>
                <li>ID: {{paciente.id}}</li>
                <li>Direccion: {{paciente.direccion}}</li>
                <li>Ciudad: {{paciente.ciudad}}</li>
                <li>Email: {{paciente.email}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
</body>
</html>
{% endblock %}