<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/myestilo.css'%}">
    <title>Base De Datos</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/BaseDeDatos/inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/BaseDeDatos/api_pacientes">Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/BaseDeDatos/api_medicos">Medicos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="contenido1">
        {% block contenido %}
            <p>Esta es la base de datos para poder registrar pacientes, medicos e historias clinicas</p>
        {% endblock %}
    </div>
</body>
</html>