{% extends "inicio.html" %}
{% load static %}
<link rel="stylesheet" href="{%static 'css/myestilo.css'%}">
<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
{% block contenido %}
<div class="contenidoPacientes">
<form method="POST"> {% csrf_token %}
    <h1>Login</h1>
    <br>
    {{ form.as_p }}
    <button class="btn btn-warning" type="submit">Iniciar Sesion</button>
    <br>
    <p>Si aun no posees credenciales peudes registrarte: </p>
    <button class="btn btn-success" href="/BaseDeDatos/registro">Registrarse</button>
    <br>
    <p>Nunca compartas tus credenciales Personales</p>
</form>
</div>
  
{% endblock %}