{% extends "inicio.html" %}

{% load static %}
    <link rel="stylesheet" href="{%static 'css/myestilo.css'%}">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
{% block contenido %}
    <p>Base de datos de pacientes</p>
    <div class="contenidoPacientes">
        <form class="formDataPacientes" action="/BaseDeDatos/api_pacientes/" method="POST"> {% csrf_token %}
            <input type="text" name = "Nombre" placeholder="Nombre">
            <input type="text" name = "Apellido" placeholder="Apellido">
            <input type="number" name = "Edad" placeholder="Edad">
            <input type="date" name = "Fecha de nacimiento" placeholder="Fecha de nacimiento">
            <input type="number" name = "ID" placeholder="ID">
            <input type="text" name = "Direccion" placeholder="Direccion">
            <input type="text" name = "Ciudad" placeholder="Ciudad">
            <input type="email" name = "Email" placeholder="Email">
            <button type="submit" class="btn btn-primary btndj">Registrar</button>
        </form>
    </div>
    <div>
        <form class="formDataPacientes" action="/BaseDeDatos/buscar_pacientes/" method="GET">
            <input type="number" name = "ID" placeholder="ID">
            <button type="submit" class="btn btn-primary btndj">Buscar</button>
    </div>
    <div>
        {% if pacientes %}
        <ul>
            {% for paciente in pacientes %}
            <li>{{paciente.nombre}}</li>
            <li>{{paciente.apellido}}</li>
            <li>{{paciente.edad}}</li>
            <li>{{paciente.fechadenacimiento}}</li>
            <li>{{paciente.id}}</li>
            <li>{{paciente.direccion}}</li>
            <li>{{paciente.ciudad}}</li>
            <li>{{paciente.email}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}